<div class="widget-categories widget">
	<h4 class="widget__title">Chess engines</h4>
	<div class="widget__content">
		<ul class="widget__list">
            <li class="widget__item">
                <a class="widget__link" href="https://github.com/Tearth/Inanis">
                    <span class="project-title">Inanis</span> - the strongest one, under development
                </a>
                <div class="project-details"><b>Elo: 2850</b>, Language: Rust, SLOC: 10000</div>
            </li>
            <li class="widget__item">
                <a class="widget__link" href="https://github.com/Tearth/Cosette">
                    <span class="project-title">Cosette</span> - one of the best .NET engines
                </a>
                <div class="project-details"><b>Elo: 2500</b>, Language: C#, SLOC: 12000</div>
            </li>
            <li class="widget__item">
                <a class="widget__link" href="https://github.com/Tearth/Proxima-b-2.0">
                    <span class="project-title">Proxima b 2.0</span> - made as part of BSc Thesis
                </a>
                <div class="project-details"><b>Elo: 1600</b>, Language: C#, SLOC: 10000</div>
            </li>
            <li class="widget__item">
                <a class="widget__link" href="https://github.com/Tearth/Proxima-b">
                    <span class="project-title">Proxima b 1.0</span> - the weakest and simplest one
                </a>
                <div class="project-details"><b>Elo: 1000</b>, Language: C++, SLOC: 4000</div>
            </li>
        </ul>
	</div>
</div>