<div class="widget-categories widget">
	<h4 class="widget__title">Nuget packages</h4>
	<div class="widget__content">
		<ul class="widget__list">
			<li class="widget__item">
                <div>
                    <a class="widget__link" href="https://github.com/Tearth/Oddity">
                        <span class="project-title">Oddity</span> - unofficial SpaceX API wrapper
                    </a>
                </div>
                <div>
                    <a href="https://travis-ci.org/github/Tearth/Oddity">
                        <img src="https://img.shields.io/travis/Tearth/Oddity/master?style={{ $.Site.Params.badgeStyle }}&logo=travis-ci&logoColor=white&cacheSeconds={{ $.Site.Params.badgeCacheTime}}" alt="Oddity build" />
                    </a>
                    <a href="https://www.nuget.org/packages/Oddity/">
                        <img src="https://img.shields.io/nuget/dt/Oddity.svg?style={{ $.Site.Params.badgeStyle }}&logo=nuget&cacheSeconds={{ $.Site.Params.badgeCacheTime}}&color={{ $.Site.Params.badgeColor }}" alt="Oddity Nuget" />
                    </a>
                    <a href="https://github.com/Tearth/Oddity/stargazers">
                        <img src="https://img.shields.io/github/stars/Tearth/Oddity.svg?style={{ $.Site.Params.badgeStyle }}&logo=github&cacheSeconds={{ $.Site.Params.badgeCacheTime}}&color={{ $.Site.Params.badgeColor }}" alt="Oddity stargazers" />
                    </a>
                </div>
                <div class="project-details">Language: C#. SLOC: 3000</div>
            </li>
            <li class="widget__item">
                <div>
                    <a class="widget__link" href="https://github.com/Tearth/.NET-Launch-Dashboard">
                        <span class="project-title">.NET Launch Dashboard</span> - rocket telemetry
                    </a>
                </div>
                <div>
                    <a href="https://travis-ci.org/github/Tearth/.NET-Launch-Dashboard">
                        <img src="https://img.shields.io/travis/Tearth/.NET-Launch-Dashboard/master?style={{ $.Site.Params.badgeStyle }}&logo=travis-ci&logoColor=white&cacheSeconds={{ $.Site.Params.badgeCacheTime}}" alt=".NET-Launch-Dashboard build" />
                    </a>
                    <a href="https://www.nuget.org/packages/DotNetLaunchDashboard/">
                        <img src="https://img.shields.io/nuget/dt/DotNetLaunchDashboard.svg?style={{ $.Site.Params.badgeStyle }}&logo=nuget&cacheSeconds={{ $.Site.Params.badgeCacheTime}}&color={{ $.Site.Params.badgeColor }}" alt=".NET-Launch-Dashboard Nuget" />
                    </a>
                    <a href="https://github.com/Tearth/.NET-Launch-Dashboard/stargazers">
                        <img src="https://img.shields.io/github/stars/Tearth/.NET-Launch-Dashboard.svg?style={{ $.Site.Params.badgeStyle }}&logo=github&cacheSeconds={{ $.Site.Params.badgeCacheTime}}&color={{ $.Site.Params.badgeColor }}" alt=".NET-Launch-Dashboard stargazers" />
                    </a>
                </div>
                <div class="project-details">Language: C#. SLOC: 500</div>
            </li>
        </ul>
	</div>
</div>